<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <p><%= comment.name %></p>
      <p><%= comment.body %></p>
      <p><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</p>
    </div>
    <div class="col-md-4">
      <% if user_signed_in? %>
        <%= link_to "Delete Comment", [comment.post, comment], method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>
</div>