<!--<header class="intro-header" style="background-image: url(<%= asset_path('about-bg.jpg') %>)">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
        <!--<div class="page-heading">-->
          <!--<h1>About Me</h1>-->
          <!--<hr class="small">-->
          <!--<span class="subheading">This is what I do.</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>About Me</h1>
      <hr>
      <p>I'm a passionate, motivated and creative software developer, love building for the web and mobile using the latest and cutting-edge tools and technologies.</p>
      <p>'ve always been passionate and fascinated by science and technology. I'm always into learning and trying new things and keep myself up-to-date with today's knowledge.</p>
      <p>Apart from coding, I love traveling, photography, music and hanging out with friends.</p>
    </div>
  </div>
</div>