<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <% @posts.each do |post| %>
            <h1 class="post-title"><%= link_to post.title, post %></h1>
            <h3 class="post-subtitle"><%= link_to truncate(post.body, length: 150), post %></h3>
            <p class="post-meta">Posted by <a href="#">PrioM</a> <%= time_ago_in_words(post.created_at) %> ago</p>
        <% end %>
      </div>
    </div>
  </div>
</div>