<header class="intro-header" style="background-image: url(<%= asset_path('home-bg.jpg')%>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Blogz</h1>
          <hr class="small">
          <span class="subheading">A Simple &amp; Fast Blog app for all publishers.</span>
          <hr class="small">
          <div id="header_btn">
            <%=	link_to "Publish Blog", new_post_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>